<a href="https://colab.research.google.com/github/juanosalvador/Arrhythmia-Dataset/blob/master/Neural_Network_Arrhythmia_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
#path_x = 'https://raw.githubusercontent.com/juanosalvador/Arrhythmia-Dataset/master/X.csv'
path_x = 'https://raw.githubusercontent.com/juanosalvador/Arrhythmia-Dataset/master/arrhythmia.data'
path_y = 'https://raw.githubusercontent.com/juanosalvador/Arrhythmia-Dataset/master/Y.csv'
#path_x = 'https://raw.githubusercontent.com/juanosalvador/Arrhythmia-Dataset/master/X%20(2).csv'
#path_y = 'https://raw.githubusercontent.com/juanosalvador/Arrhythmia-Dataset/master/Y%20(2).csv'

In [3]:
#features = pd.read_csv(path_x, delimiter = '\t' ,header =None)
features = pd.read_csv(path_x, header = None)
label = pd.read_csv(path_y, header=None)

In [4]:
## Columnas con valores nulos
features.columns[features.isnull().any()]

Int64Index([], dtype='int64')

In [5]:
col_nans = features.iloc[:,[10, 11, 12, 13, 14]]
col_nans.isnull().sum()

10    0
11    0
12    0
13    0
14    0
dtype: int64

In [6]:
# Eliminamos la columna 13
features.drop([13], axis= 1, inplace = True)

In [9]:
## los valores nulos están representados con un signo de interrogacion
features = features.replace('?', np.nan)

In [29]:
col_null = pd.DataFrame(data = features.isnull().sum()).reset_index().rename(columns = {'index':'atributo', 0:'Nulos'})
for i in range(len(col_null)):
  if col_null.iloc[i]['Nulos'] > 0:
    print('Columna', col_null.iloc[i]['atributo'], 'tiene ', col_null.iloc[i]['Nulos'] , ' valores nulos' )

Columna 10 tiene  8  valores nulos
Columna 11 tiene  22  valores nulos
Columna 12 tiene  1  valores nulos
Columna 14 tiene  1  valores nulos

0

In [7]:
# Imputando por la mediana
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=np.nan, strategy = 'median')
features = pd.DataFrame(data = imp.fit_transform(features))

ValueError: ignored

In [ ]:
features

In [ ]:
label.value_counts()

1.0     245
10.0     50
2.0      44
6.0      25
16.0     22
4.0      15
3.0      15
5.0      13
9.0       9
15.0      5
14.0      4
7.0       3
8.0       2
dtype: int64

In [ ]:
#bins = [0,8,16]
## Nombre de los grupos
#group_names = [0,1]
## Creando label binarizado
#label['two_class'] = pd.cut(label[0], bins, labels = group_names)

In [ ]:
encoding_label = pd.get_dummies(label[0])

In [ ]:
encoding_label

     1.0   2.0   3.0   4.0   5.0   6.0   ...  8.0   9.0   10.0  14.0  15.0  16.0
0       0     0     0     0     0     0  ...     1     0     0     0     0     0
1       0     0     0     0     0     1  ...     0     0     0     0     0     0
2       0     0     0     0     0     0  ...     0     0     1     0     0     0
3       1     0     0     0     0     0  ...     0     0     0     0     0     0
4       0     0     0     0     0     0  ...     0     0     0     0     0     0
..    ...   ...   ...   ...   ...   ...  ...   ...   ...   ...   ...   ...   ...
447     1     0     0     0     0     0  ...     0     0     0     0     0     0
448     0     0     0     0     0     0  ...     0     0     1     0     0     0
449     0     1     0     0     0     0  ...     0     0     0     0     0     0
450     1     0     0     0     0     0  ...     0     0     0     0     0     0
451     1     0     0     0     0     0  ...     0     0     0     0     0     0

[452 rows x 13 columns]

In [ ]:
label[label['two_class'] == 0][0].value_counts()

1.0    245
2.0     44
6.0     25
4.0     15
3.0     15
5.0     13
7.0      3
8.0      2
Name: 0, dtype: int64

In [ ]:
label['two_class'].value_counts()

0    362
1     90
Name: two_class, dtype: int64

# <center> Descripción BD  </center>